<ion-view  title="About Us" class="logo-center yes-title" >
    <div class="row ">
        <div class="col-25 mar-left">
                <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
                    </button>
        </div>
        <div class="col-50 headerimg">
          <img src="img/logo.png" alt="">

        </div>
        <div class="col-25 text-right">
            <button class="button button-clear ion-ios-search-strong header-bellFont text-right disblock" ui-sref="app.search"menu-toggle="right">
              </button>
        </div>

    </div>
  <ion-content class="has-header">
<div class="aboutUs rel">
                <img src="img/aboutus.jpg" alt="">
                <label for="">ABOUT US</label>
            </div>

<div class="description">
                <div>
    <label  for="">"Creativity is limitless and so are the way to expression !"</label>
    <p>Our vision is to bring your dream space alive.<br> We believe that a house can only be turned into the home,<br> When it evoke emotions in its residents<br> and is installed with the memorable moments.<br> We at Gala, offers modern interior design solutions<br> with the touch of elegant architecture, and much more.<br> With a variety of high quality and luxury homes</p>
                </div>
            </div>
  </ion-content>
</ion-view>