<ion-view title="About Us" class="logo-center yes-title">
    <div class="row ">
        <div class="col-25 mar-left">
            <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
             </button>
        </div>
        <div class="col-50 headerimg">
            <img src="img/logo.png" ui-sref="app.home">

        </div>
        <div class="col-25 text-right">
            <button class="button button-clear ion-ios-search-strong header-bellFont text-right disblock" ui-sref="app.search" menu-toggle="right">
              </button>
        </div>
    </div>
    <ion-content class="has-header">

        <!--<div class="aboutUs rel">
            <img src="img/aboutus.jpg">
            <label for="">ABOUT US</label>
        </div>-->
        <div>
            <h3 class="about-us text-center">ABOUT US</h3>
        </div>
        <div class="">
            <img src="img/RV-Road-building.jpg" class="w100">
        </div>
        <div>
            <div class="para-color">
                <h4 class="about-main-head text-center">"Creativity is limitless and so are the ways to expression"</h4>
                <p>Our vision is to bring your dream space alive. We believe that a house can only be turned into a home, when
                    it evokes emotions in its residents and is instilled with memorable moments. We at Gala, offer modern
                    interior design solution with a touch of elegant architecture, and much more. With a variety of high
                    quality and luxury home décor products, we make your idea of a dream home, come to life.</p>
                <p>Gala Group, inspired to Enhance Life Style, is a live merchandising showroom of global reference, culminating
                    the finest interior products to help cater to all requirements, for creating a unique and trendy architecture
                    of your house.We wish to make your peaceful environment a luxurious one. Today we are a cohesive unit
                    of 13 divisions in a single campus that strives together in bringing a one stop solution for all interior
                    needs.
                </p>
                <p>Incepted in the year, 1998, it has developed into an Interior Hub delivering complete interior decoration
                    solution under one roof spread across 2 acres at Mysore Road and 30000 sq. ft. at our newly opened showroom
                    at RV Road. It flaunts a wide-spread yet segmented areas for differential articles in every genre making
                    selection an easy process. It exhibits top notch application based showrooms with over 1 lakh articles
                    on display for you to choose from.</p>
            </div>
        </div>
        <div class="  mar-t">
              <img src="img/about/aaa.jpg" class="w100">
        </div>
          <div class="text-center">
                    <h4 class="chairman">CHAIRMAN'S MESSAGE</h4>
                </div>
                <div class="para-color">
                    <p>"When I decided to make my home, I knew that I wanted it to reflect everything that defines my family
                        and me. After all a home remains just a building if not instilled with emotions and personal flavor
                        and to get that, I was ready to explore the world to find myself the right interiors. GALA GROUP
                        is a mighty empire inspired to enhance life style. The GALA HOUSE is a live merchandising from showrooms
                        of global reference, culminating the finest interior products. I was sure that my family was an integral
                        part to make this dream come true. Today we are a cohesive unit that strive together in bringing
                        'A ONE STOP SOLUTION FOR INTERIOR DECORATION PRODUCTS.' The most effort goes in selecting the right
                        products from an array of stores distributed across the globe. Our objective is to service that difficulty
                        by giving you the largest showrooms at one destination displaying the entire range of raw materials
                        available in the world of interiors. I think having a home is to create an ambience that comforts
                        a peaceful living. We wish to make your peaceful environment a luxurious one. With the most competitive
                        pricing our ethics lie in understanding your needs and requirement and catering them with utmost
                        precision. No matter what you build, we have the right interior products for your construction. We
                        make this company just the way you make your home.</p>
                    <p>Mr. Kiran Gala 'GALA GROUP', incepted in 1999, spreads across 60,000 Sq.ft of live display area at Mysore
                        interior solutions in the Deccan region. We exhibit top notch application based showrooms and display
                        over 1000 articles in every genre making selection an easy process. The organization headed by the
                        Chairman and 12 Managing Directors regulates the work culture with qualified technical expertise,
                        helping you choose the right products for your architecture. Despit excellent quality products our
                        keen e interest lies in satisfying our architects and customers .Our products do half the job and
                        the rest is followee p d g you combine your interior campus ensures site analysis, valet parking
                        and door delivery of products. Moreover the motive of helinby hospitality and service. Th products
                        and visualize them before instillation is our primary focus. 'GALA HOUSE' as I call this campus is
                        to ensure a friendly company-client atmosphere and help you create the most unique and trendy architecture.
                        The company is ever expanding a nd by launching new products every year we help you culminate your
                        interior shopping at one destination. "</p>
                </div>
                 <div class="text-center">
                    <h4 class="gcolor">OUR DIVISIONS</h4>
                </div>
                <div class="para-color">
                    <p>In the past 18 years, Gala has become the one-stop solution for all interior needs. No matter what you
                        require, we have the interiors for you. Now, no more wandering the streets for trendy and affordable
                        interiors, with our varied divisions, we ensure all your Interior Needs are met under one roof.</p>
                </div>
                <div class="about-prodcard" ng-repeat = "product in data1 track by $index">
                  <div class="about-prodtitle ">
                    <h4 class="gcolor">{{product.name}}</h4>
                  </div>
                  <div class="about-prodimage">
                    <img ng-src="{{product.categoryImage | uploadpath}}" alt="{{product.name}}" class="img-responsive">
                  </div>
                  <div class="about-prodcontent para-color" ng-bind-html="product.aboutCompData"></div>
                </div>

    </ion-content>
</ion-view>
