<ion-view  title="Gala" class="logo-center yes-title" >
  <ion-nav-bar class="bar-stable nav-height bgHeader logoImage" >
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
      <button class="button button-clear ion-ios-search-strong header-bellFont disblock" menu-toggle="right">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="">
<div class="aboutUs rel">
                <img src="img/aboutus.jpg" alt="">
                <label for="">ABOUT US</label>
            </div>

<div class="description">
                <div>
    <label  for="">"Creativity is limitless and so are the way to expression !"</label>
    <p>Our vision is to bring your dream space alive.<br> We believe that a house can only be turned into the home,<br> When it evoke emotions in its residents<br> and is installed with the memorable moments.<br> We at Gala, offers modern interior design solutions<br> with the touch of elegant architecture, and much more.<br> With a variety of high quality and luxury homes</p>
                </div>
            </div>
  </ion-content>
</ion-view>