<ion-view title="Category" class="logo-center yes-title">
    <div class="row ">
        <div class="col-25 mar-left">
                <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
                    </button>
        </div>
        <div class="col-50 headerimg">
          <img src="img/logo.png" alt="logo" ui-sref="app.home">

        </div>
        <div class="col-10 disblock">
          <button class="button button-clear ion ion-android-arrow-back  header-bellFont " ng-click="productsPage()">
          </button>
        </div>
        <div class="col-15 text-center">
            <button class="button button-clear ion-ios-search-strong searchicon header-bellFont " ui-sref="app.search"menu-toggle="right">
              </button>
        </div>

    </div>
  <ion-content class="has-header">
      <div class="bgStrip rel">
          <img ng-src="{{CompanyBanner.backgroundBanner | uploadpath}}" alt="">
          <label for="" class="text-uppercase">{{subcategory[0].names}}</label>
      </div>
         <div class="browse-grid">
    <label for="" class="product-text text-uppercase">{{CompanyBanner.name}}</label>
      <div class="row" ng-repeat="s1 in AllProductWithCategory" ng-if="AllProductWithCategory1!='noDataound'" >
                <div class="col-50" ng-repeat="s in s1" ui-sref="app.productdetails({product:s._id, company:s.company})" ng-if="s.name != 'SOLID WOOD' && s.name !='ENGINEERED' && s.name !='LAMINATED FLOORING' && s.name !='EXOTIC BAMBOO' && s.name !='KAINDL VENEER' && s.name !='EXTERIOR DECK TILE'">
                    <div class="browse-card1 rel">
                        <div class="icondiv">
                            <img ng-src="{{s.images[0].bigImage | uploadpath}}" alt="">
                            <label for="" class="text-uppercase">{{s.name}}</label>
                        </div>

                    </div>

                </div>

            </div>
            <div class="row" ng-repeat="s1 in AllProductWithCategory" ng-if="AllProductWithCategory1!='noDataound'" >
                <div class="col-50" ng-repeat="s in s1" ng-click="inapp(s.name)" ng-if="s.name == 'SOLID WOOD' || s.name =='ENGINEERED' || s.name =='LAMINATED FLOORING' || s.name =='EXOTIC BAMBOO' || s.name =='KAINDL VENEER' || s.name =='EXTERIOR DECK TILE'">
                    <div class="browse-card1 rel">
                        <div class="icondiv">
                            <img ng-src="{{s.images[0].bigImage | uploadpath}}" alt="">
                            <label for="" class="text-uppercase">{{s.name}}</label>
                        </div>

                    </div>

                </div>

            </div>
         </div>
         <div class="text-center categoryImage" ng-click="urlLink(productImage.link)" ng-if="productImage.noImage!='' && productImage.noImage && productImage.noImage!=null && AllProductWithCategory1=='noDataound'"><img ng-if="!productImage.link || productImage.link=='' || productImage.link==null" class="img-responsive" src="{{productImage.noImage | uploadpath}}" alt=""><img ng-if="productImage.link!='' && productImage.link && productImage.link!=null" class="img-responsive" src="{{productImage.noImage | uploadpath}}" alt=""></div>
         <h5 class="text-center noproductavail" ng-if="AllProductWithCategory1=='noDataound' && !productImage.noImage">No Products Available Right Now.</h5>
         
   
  </ion-content>
</ion-view>
