<ion-view  title="Contact" class="logo-center yes-title" >
    <div class="row ">
        <div class="col-25 mar-left">
                <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
                    </button>
        </div>
        <div class="col-50 headerimg">
          <img src="img/logo.png" alt="">

        </div>
        <div class="col-25 text-right">
            <button class="button button-clear ion-ios-search-strong text-right header-bellFont disblock" ui-sref="app.search"menu-toggle="right">
              </button>
        </div>

    </div>
  <ion-content class="has-header">
        <div class="contactusDiv">
                <div class="contactdiv"> <label class="" for="">CONTACT US</label>
                 </div>
                <div class="address">
<p>339/1, Gala House, <br> Mysore Road Campus, <br> Anantramaiah Woolen Factory Compound<br> Bapuji Nagar,Mysore Road,<br> Banglore-560026</p>
                </div>
                <div class="numberDiv">
                    <label for="">080 26749845</label>
                 </div>
                <div class="emailDiv">
<label for="">info@galagroup.in</label>
                </div>
            </div>

            <div class="social">
<i class="fa fa-dribbble" aria-hidden="true"></i>
<i class="fa fa-linkedin" aria-hidden="true"></i>
<i class="fa fa-instagram" aria-hidden="true"></i>
<i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
  </ion-content>
</ion-view>