<ion-view  title="Gala" class="logo-center yes-title" >
  <ion-nav-bar class="bar-stable nav-height bgHeader logoImage" >
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
      <button class="button button-clear ion-ios-search-strong header-bellFont disblock" menu-toggle="right">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="">
        <div class="contactusDiv">
                <div class="contactdiv"> <label class="" for="">CONTACT US</label>
                 </div>
                <div class="address">
<p>339/1, Gala House, <br> Mysore Road Campus, <br> Anantramaiah Woolen Factory Compound<br> BApuji Nagar,Mysore Road,<br> Banglore-560026</p>
                </div>
                <div class="numberDiv">
                    <label for="">080 26749845</label>
                 </div>
                <div class="emailDiv">
<label for="">info@galagroup.in</label>
                </div>
            </div>

            <div class="social">
<i class="fa fa-dribbble" aria-hidden="true"></i>
<i class="fa fa-linkedin" aria-hidden="true"></i>
<i class="fa fa-instagram" aria-hidden="true"></i>
<i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
  </ion-content>
</ion-view>