<ion-view title="Divisions" class="logo-center yes-title">
  <div class="row ">
    <div class="col-25 mar-left">
      <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
                            </button>
    </div>
    <div class="col-50 headerimg">
      <img src="img/logo.png" alt="">
    </div>
    <div class="col-25 text-right">
      <button class="button button-clear ion-ios-search-strong header-bellFont disblock" ui-sref="app.search" menu-toggle="right">
                      </button>
    </div>
  </div>
  <ion-content class="has-header">
    <div class="productsrow" ng-repeat="(key,val) in data">
      <!-- <div class=""  > -->
      <label class="" ui-sref="app.products({company:val[0][0].companyCategory.company._id})">{{key}}</label>
      <div class="" ng-repeat="qwerty in val">
        <div class="row">
          <div class="col-50 pad10" ng-repeat="company in qwerty" ui-sref="app.productdetails({product:company._id})" ng-if="company.name != 'SOLID WOOD' && company.name !='ENGINEERED' && company.name !='LAMINATED FLOORING' && company.name !='EXOTIC BAMBOO' && company.name !='KAINDL VENEER' && company.name !='EXTERIOR DECK TILE'">
            <!-- <pre>{{company|json}}</pre> -->
            <img ng-src="{{company.images[0].bigImage | uploadpath}}" alt="" class="full-image">
            <p class="">{{company.name}}</p>
          </div>
        </div>
        <div class="row">
          <div class="products-img" ng-repeat="company in qwerty" ng-if="company.name == 'SOLID WOOD' || company.name =='ENGINEERED' || company.name =='LAMINATED FLOORING' || company.name =='EXOTIC BAMBOO' || company.name =='KAINDL VENEER' || company.name =='EXTERIOR DECK TILE'"
            ng-click="inapp(company.name)">
            <img ng-src="{{company.images[0].bigImage | uploadpath}}" alt="">
            <p class="">{{company.name}}</p>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </ion-content>
</ion-view>