<ion-view  title="Gallery" class="logo-center yes-title" >
        <div class="row ">
                <div class="col-25 mar-left">
                        <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
                            </button>
                </div>
                <div class="col-50 headerimg">
                  <img src="img/logo.png" alt="">
        
                </div>
                <div class="col-25 text-right">
                    <button class="button button-clear ion-ios-search-strong text-right header-bellFont disblock" ui-sref="app.search"menu-toggle="right">
                      </button>
                </div>
        
            </div>
  <!-- <ion-nav-bar class="bar-stable nav-height bgHeader logoImage" >
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
      <button class="button button-clear ion-ios-search-strong header-bellFont disblock" menu-toggle="right">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar> -->
  <ion-content class="has-header">
      <!--<ion-slide-box options="homeSlider.sliderOptions" slider="homeSlider.sliderDelegate" does-continue="true" animation='fade'
            auto-play="true"  slide-interval="{{interval}}" show-pager="true"  on-slide-changed="slideHasChanged(index)">
            <ion-slide  >
                <div class="box box1">
                <img src="img/Bath world.jpg" alt="">
                </div>
            </ion-slide>
            <ion-slide  [options]="{pager:true}">
                <div class="box box1">
                <img src="img/Euro Veneer 1.jpg" alt="">
                </div>
            </ion-slide>
            <ion-slide  [options]="{pager:true}">
                <div class="box box1">
                <img src="img/Euro Veneer.jpg" alt="">
                </div>
            </ion-slide>
             <ion-slide  [options]="{pager:true}">
                <div class="box box1">
                <img src="img/Gala Furniture world.jpg" alt="">
                </div>
            </ion-slide>
            <ion-slide  [options]="{pager:true}">
                <div class="box box1">
                <img src="img/Woode & moulding.jpg" alt="">
                </div>
            </ion-slide>
            <ion-slide  [options]="{pager:true}">
                <div class="box box1">
                <img src="img/Lighting.jpg" alt="">
                </div>
            </ion-slide>
        </ion-slide-box>-->
         <div class="browse-grid">
            <label for="" class="browse-text">OUR OFFERINGS</label>
            <div class="row">
                <div class="col-50 ">
                    <div class="browse-card1 ">
                        <div class="icondiv">
                            <img src="img/Uro veneer world.jpg" alt="">
                            
                        </div>
                        <label for="">EURO VENEER WORLD</label>
                    </div>
                    
                </div>
                <div class="col-50">
                    <div class="browse-card2" >
                        <div class="icondiv">
                            <img src="img/Wood & Mouldings 1.jpg" alt="">
                        </div>
                        <label for="">WOOD AND MOULDINGS</label>
                    </div>

                </div>
            </div>
            <div class="row"  >
                <div class="col-50">
                    <div class="browse-card1">
                        <div class="icondiv">
                            <img src="img/Bath World1.jpg" alt="">
                            
                        </div>
                        <label for="">BATH WORLD</label>
                    </div>
                    
                </div>
                <div class="col-50">
                    <div class="browse-card2" >
                        <div class="icondiv">
                            <img src="img/Gala Hardware World.jpg" alt="">
                        </div>
                        <label for="">EURO HARDWARE WORLD</label>
                    </div>

                </div>
            </div>
            <div class="row"  >
                <div class="col-50">
                    <div class="browse-card1">
                        <div class="icondiv">
                            <img src="img/Gala stone world.jpg" alt="">
                            
                        </div>
                        <label for="">GALA STONE WORLD</label>
                    </div>
                    
                </div>
                <div class="col-50">
                    <div class="browse-card2" >
                        <div class="icondiv">
                            <img src="img/Gala Furniture world1.jpg" alt="">
                        </div>
                        <label for="">GALA FURNITURE WORLD</label>
                    </div>

                </div>
            </div>
            <div class="row"  >
                <div class="col-50">
                    <div class="browse-card1">
                        <div class="icondiv">
                            <img src="img/Euro lighting world.jpg" alt="">
                            
                        </div>
                        <label for="">EURO LIGHTING WORLD</label>
                    </div>
                    
                </div>
                <div class="col-50">
                    <div class="browse-card2" >
                        <div class="icondiv">
                            <img src="img/Gala curtain world.jpg" alt="">
                        </div>
                        <label for="">GALA DRAPES WORLD</label>
                    </div>

                </div>
            </div>
            <div class="row"  >
                <div class="col-50">
                    <div class="browse-card1">
                        <div class="icondiv">
                            <img src="img/Gala kitchen world.jpg" alt="">
                            
                        </div>
                        <label for="">GALA KITCHEN WORLD</label>
                    </div>
                    
                </div>
                <div class="col-50">
                    <div class="browse-card2" >
                        <div class="icondiv">
                            <img src="img/Mahaveer corporation (india).jpg" alt="">
                        </div>
                        <label for="">MAHAVIR CORPORATION (INDIA)</label>
                    </div>

                </div>
            </div>
            <!--<div class="aboutUs ">
                <img src="img/aboutus.jpg" alt="">
                <label for="">ABOUT US</label>
            </div>      -->
        </div>
  </ion-content>
</ion-view>