<ion-view title="Home" class="logo-center yes-title">
    <div class="row">
        <div class="col-25 mar-left">
            <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
            </button>
        </div>
        <div class="col-50 headerimg">
            <img src="img/logo.png" alt="">
        </div>
        <div class="col-25 text-right">
            <button class="button button-clear ion-ios-search-strong text-right header-bellFont disblock" ui-sref="app.search" menu-toggle="right">
            </button>
        </div>
    </div>
    <ion-content class="has-header">
        <ion-slide-box options="homeSlider.sliderOptions" slider="homeSlider.sliderDelegate" does-continue="true" animation='fade'
            auto-play="true" slide-interval="{{interval}}" show-pager="true" on-slide-changed="slideHasChanged(index)">
            <ion-slide ng-repeat="hs in homebanner">
                <div class="box box1">
                    <img ng-src="{{hs.image | uploadpath}}" alt="">
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="browse-grid">
            <label for="" class="browse-text">GROUP ACTIVITIES</label>
            <div class="row" ng-repeat="cat in companyBanner">
                <div class="col-50 " ng-repeat="c1 in cat" ui-sref="app.products({company:c1._id})">
                    <div class="browse-card1 ">
                        <div class="icondiv">
                            <img ng-src="{{c1.banner | uploadpath}}" alt="">
                            <label for="" class="text-uppercase">{{c1.name}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="browse-grid">
            <label for="" class="browse-text"> CATEGORIES</label>
            <div class="row" ng-repeat="(key,val) in data track by $index" ng-if="$index<=2">
                <div class="col">
                    <div>
                        <label>{{key}}</label>
                    </div>
                    <div ng-repeat="p in val track by $index" ng-if="val.length=2">
                        <div class="row">
                            <div class="col-50" ng-repeat="cat in p track by $index" ui-sref='app.category({company:comc1.company ,category:comc1._id})'>
                                <div class="browse-card1">
                                    <div class="icondiv">
                                        <img ng-src="{{cat.image | uploadpath}}" alt="">
                                        <label for="" class="text-uppercase">{{cat.name}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p><a ui-sref="app.divisions">View More</a></p>
            </div>
        </div>
    </ion-content>
</ion-view>