<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <!-- <ion-nav-bar class="bar-stable"> -->
      <!-- <ion-nav-back-button>
      </ion-nav-back-button> -->
      <!-- <div class="row ">
          <div class="col-25 mar-left">
                  <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
                      </button>
          </div>
          <div class="col-50 headerimg">
            <img src="/img/logo.png" alt="">

          </div>
          <div class="col-25">

          </div>

      </div> -->
      <!-- <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons> -->
    <!-- </ion-nav-bar> -->

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu class="bgcolor bgColor" side="left">
    <!--<ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>-->
    <ion-content class="mar20 bgColor">
      <i class="ion-close-round size" menu-close></i>
      <ion-list class="mar20">

        <ion-item class="menuOption border" ui-sref-active="active" menu-close ui-sref='app.home' ng-if!="category">
          HOME
        </ion-item>
        <ion-item class="bgColor border" ui-sref-active="active" menu-close ui-sref="app.search" ng-click="category=false">
            SEARCH
          </ion-item>
        <ion-item class="bgColor border" ui-sref-active="active" menu-close ui-sref="app.aboutus" ng-click="category=false">
          ABOUT US
        </ion-item>
        <ion-item class="bgColor border" ui-sref-active="active" menu-close ui-sref="app.divisions" ng-click="category=false">
         PRODUCTS
          </ion-item>
        <!--<ion-item class="border" ui-sref-active="active" menu-close ui-sref="app.category" >
          CATEGORIES
          <ion-list class="mar20" ng-if="category">
            <ion-item class="border bgColor menuOption"  menu-close >
              DOOR
            </ion-item>
            <ion-item class="border bgColor menuOption"  menu-close>
              DUPTON CORIAN
            </ion-item>
            <ion-item class="border bgColor menuOption"  menu-close>
              EXTERIOR CLADDING
            </ion-item>
            <ion-item class="border bgColor menuOption"  menu-close>
              WALLPAPER
            </ion-item>
            <ion-item class="border bgColor menuOption"  menu-close>
              DECKING
            </ion-item>
          </ion-list>
        </ion-item>-->
        <!-- <ion-item class="border" ui-sref-active="active" menu-close ui-sref="app.division" ng-click="category=false">
          DIVISION
        </ion-item> -->
        <ion-item class="border" ui-sref-active="active" menu-close ui-sref="app.showroom" ng-click="category=false">
          SHOWROOM
        </ion-item>
        <ion-item class="border" ui-sref-active="active" menu-close ui-sref="app.download" ng-click="category=false">
            DOWNLOAD
          </ion-item>
        <ion-item class="bordernone" ui-sref-active="active" menu-close ui-sref="app.contact" ng-click="category=false">
          CONTACT
        </ion-item>
        <ion-item class="bordernone logout"  ui-sref-active="active" menu-close ng-click="logout();category=false">
          LOG OUT
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
