<ion-view  title="Gala" class="logo-center yes-title" >
  <ion-nav-bar class="bar-stable nav-height bgHeader logoImage" >
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
      <button class="button button-clear ion-ios-search-strong header-bellFont disblock" menu-toggle="right">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="">
    <div class="bgStrip rel"> 
      <img ng-src="{{CompanyBanner.backgroundBanner | uploadpath}}" alt="">
      <!--<label for="" class="text-uppercase">{{subcategory[0].names}}</label>-->
    </div>
    <div> 
       <div class="browse-grid">
            <label for="" class="product-text text-uppercase">{{CompanyBanner.name}}</label>
                 <div class="row " ng-repeat="s2 in categoriesOfCompany" >
                <div class="col-50 prcard" ng-repeat="s in s2" ui-sref='app.category({company:company._id ,category:s._id})'>
                    <div class="category-card1">
                        <div class="icondiv">
                            <img ng-src="{{s.image | uploadpath}}" alt="">
                            
                        </div>
                        <label for="" class="text-uppercase">{{s.name}}</label>
                    </div>
                    
                </div>
     
            </div>
      <!--<div class="row" ng-repeat="s2 in subcategoryBig" >
                <div class="col-50" ng-repeat="s in s2" ui-sref='app.productdetails'>
                    <div class="products-card1 rel">
                        <div class="icondiv">
                            <img ng-src="{{s.smallerImg}}" alt="">
                            
                        </div>
                        <label for="" class="text-uppercase">{{s.name}}</label>
                    </div>
                    
                </div>
                <div class="col-50" ui-sref='app.productdetails'>
                    <div class="produxts-card2" >
                        <div class="icondiv">
                            <img src="img/door2.jpg" alt="">
                        </div>
                        <label for="">WOOD AND MOULDINGS</label>
                    </div>

                </div>
            </div>-->
            <!--<div class="row">
                <div class="col-50" ui-sref='app.productdetails'>
                    <div class="products-card1 rel">
                        <div class="icondiv">
                            <img src="img/door3.jpg" alt="">
                            
                        </div>
                        <label for="">BATH WORLD</label>
                    </div>
                    
                </div>
                <div class="col-50" ui-sref='app.productdetails'>
                    <div class="produxts-card2 rel" >
                        <div class="icondiv">
                            <img src="img/door4.jpg" alt="">
                        </div>
                        <label for="">EURO HARDWARE WORLD</label>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-50" ui-sref='app.productdetails'>
                    <div class="products-card1 rel">
                        <div class="icondiv">
                            <img src="img/door5.jpg" alt="">
                            
                        </div>
                        <label for="">BATH WORLD</label>
                    </div>
                    
                </div>
                <div class="col-50" ui-sref='app.productdetails'>
                    <div class="produxts-card2 rel">
                        <div class="icondiv">
                            <img src="img/door6.jpg" alt="">
                        </div>
                        <label for="">EURO HARDWARE WORLD</label>
                    </div>

                </div>
            </div>-->
    </div>
  </ion-content>
  </ion-view>