<ion-view title="Products" class="logo-center yes-title">
    <div class="row ">
        <div class="col-25 mar-left">
            <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
            </button>
        </div>
        <div class="col-50 headerimg">
            <img src="img/logo.png" alt="logo" ui-sref="app.home" >
        </div>
        <div class="col-25 text-right">
            <button class="button button-clear ion-ios-search-strong text-right header-bellFont disblock" ui-sref="app.search" menu-toggle="right">
            </button>
        </div>
    </div>
    <ion-content class="has-header">
        <div class="bgStrip rel">
            <img ng-src="{{CompanyBanner.backgroundBanner | uploadpath}}" alt="">
            <label for="" class="text-uppercase">{{subcategory[0].names}}</label>
            <div class="mascot">
                <img ng-if="CompanyBanner.name=='Bath World'" src="img/Bath world-mascot.png" alt="">
                <img ng-if="CompanyBanner.name=='Euro Lighting World'" src="img/Euro lighting world-mascot.png" alt="">
                <img ng-if="CompanyBanner.name=='Gala Curtain World'" src="img/Gala curtain world-mascot.png" alt="">
                <img ng-if="CompanyBanner.name=='Gala Furniture World'" src="img/Gala Furniture world-mascot.png" alt="">
                <img ng-if="CompanyBanner.name=='Gala Hardware World'" src="img/Gala hardware world-mascot.png" alt="">
                <img ng-if="CompanyBanner.name=='Gala Kitchen World'" src="img/Gala kitchen world-mascot.png" alt="">
                <img ng-if="CompanyBanner.name=='Gala Stone World'" src="img/Gala stone world-mascot.png" alt="">
                <img ng-if="CompanyBanner.name=='Mahaveer Corporation (India)'" src="img/Mahaveer corporation (india).png" alt="">
                <img ng-if="CompanyBanner.name=='Uro Veneer World'" src="img/Uro veneer world-mascot.png" alt="">
                <img ng-if="CompanyBanner.name=='Wood & Mouldings'" src="img/Wood & Mouldings-mascot.png" alt="">
            </div>
        </div>
        <div>
            <div class="browse-grid">
                <label for="" class="product-text text-uppercase">{{CompanyBanner.name}}</label>
                <div class="row " ng-repeat="s2 in categoriesOfCompany">
                    <div class="col-50 prcard" ng-repeat="s in s2" ui-sref='app.category({company:company._id ,category:s._id})'>
                        <div class="category-card1">
                            <div class="icondiv">
                                <img ng-src="{{s.image | uploadpath}}" alt="">
                            </div>
                            <label for="" class="text-uppercase">{{s.name}}</label>
                        </div>
                    </div>
                </div>
                <!-- BRANDS GRID -->
                <div class="brands-grid" ng-if="companyBrands">
                  <div class="productbrand-title">
                    Our Brands
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="">
                        <img src="{{companyBrands|uploadpath}}" alt="" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </div>

                <!--<div class="row" ng-repeat="s2 in subcategoryBig" >
                <div class="col-50" ng-repeat="s in s2" ui-sref='app.productdetails'>
                    <div class="products-card1 rel">
                        <div class="icondiv">
                            <img ng-src="{{s.smallerImg}}" alt="">

                        </div>
                        <label for="" class="text-uppercase">{{s.name}}</label>
                    </div>

                </div>
                <div class="col-50" ui-sref='app.productdetails'>
                    <div class="produxts-card2" >
                        <div class="icondiv">
                            <img src="img/door2.jpg" alt="">
                        </div>
                        <label for="">WOOD AND MOULDINGS</label>
                    </div>

                </div>
            </div>-->
                <!--<div class="row">
                <div class="col-50" ui-sref='app.productdetails'>
                    <div class="products-card1 rel">
                        <div class="icondiv">
                            <img src="img/door3.jpg" alt="">

                        </div>
                        <label for="">BATH WORLD</label>
                    </div>

                </div>
                <div class="col-50" ui-sref='app.productdetails'>
                    <div class="produxts-card2 rel" >
                        <div class="icondiv">
                            <img src="img/door4.jpg" alt="">
                        </div>
                        <label for="">EURO HARDWARE WORLD</label>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-50" ui-sref='app.productdetails'>
                    <div class="products-card1 rel">
                        <div class="icondiv">
                            <img src="img/door5.jpg" alt="">

                        </div>
                        <label for="">BATH WORLD</label>
                    </div>

                </div>
                <div class="col-50" ui-sref='app.productdetails'>
                    <div class="produxts-card2 rel">
                        <div class="icondiv">
                            <img src="img/door6.jpg" alt="">
                        </div>
                        <label for="">EURO HARDWARE WORLD</label>
                    </div>

                </div>
            </div>-->
            </div>
    </ion-content>
</ion-view>
