<ion-view title="gala" class="logo-center yes-title">
  <ion-nav-bar class="bar-stable nav-height bgHeader logoImage">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-clear ion-ios-search-strong header-bellFont disblock" menu-toggle="right">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="">
    <div class="mainImage rel">
      <img ng-src="{{bigImage | uploadpath}}" alt="">
      <div>{{ProductDetails.name}}</div>
    </div>
    <div class="rel">
      <!-- <button class="button button-icon icon ion-ios-arrow-left arrowbtn left-arrow" ng-click="slidePrevious('am')"></button>
      <button class="button button-icon icon ion-ios-arrow-right rightarr right-arrow" ng-click="slideNext('am')"></button> -->

    </div>
      <div class="sliders text-center " ng-if="proImages[0]!==''">
      <flex-slider class="carousel " animation="slide" flex-slide="pro in proImages track by $index" animation-loop="true"
        item-margin="10" slideshow="false" item-width="75" maxItems="3">
        <li class="prosmall" ng-click="changebigImage(pro.bigImage) ">
          <img ng-src="{{pro.smallImage | uploadpath}}" alt="">
         </li>
      </flex-slider>
    </div> 
    <div class="productdescription">Product Description</div>
    <p class="productinside">{{ProductDetails.description}}
    </p>
    <div class="shareSocial">
      <label for="">Share</label>
      <div class="fbImage">
        <img src="img/fb.png" alt="">
      </div>
      <div class="googleImgae">
        <img src="img/google.png" alt="">
      </div>
      <div class="twitImage">
        <img src="img/Twitter-High-Quality-PNG.png" alt="">
      </div>


    </div>

    <button class="enquire">Enquire Now</button>
  </ion-content>
</ion-view>
