<ion-view title="Showroom" class="logo-center yes-title">
    <div class="row ">
        <div class="col-25 mar-left">
                <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
                    </button>
        </div>
        <div class="col-50 headerimg">
          <img src="img/logo.png" alt="">

        </div>
        <div class="col-25 text-right">
            <button class="button button-clear ion-ios-search-strong text-right header-bellFont disblock" ui-sref="app.search"menu-toggle="right">
              </button>
        </div>

    </div>
  <ion-content class="has-header">
    <div class="mainImage rel">
      <img ng-src="{{bigImage | uploadpath}}" alt="">
      <div>{{name}}</div>
    </div>
    <!-- <div class="rel">
       <button class="button button-icon icon ion-ios-arrow-left arrowbtn left-arrow" ng-click="slidePrevious('am')"></button>
      <button class="button button-icon icon ion-ios-arrow-right rightarr right-arrow" ng-click="slideNext('am')"></button> 

    </div> -->
      <div class="sliders text-center " ng-if="proImages[0]!==''">
      <flex-slider class="carousel " animation="slide" flex-slide="pro in ProductDetails track by $index" animation-loop="true"
        item-margin="10" slideshow="false" item-width="75" maxItems="3">
        <li class="prosmall" ng-click="changebigImage(pro.images[0].bigImage,pro.name) ">
          <img ng-src="{{pro.images[0].smallImage | uploadpath}}" alt="">
         </li>
      </flex-slider>
    </div> 




  </ion-content>
</ion-view>
